{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello HomeController!</h1>
    <p>Welcome to your new controller!</p>
    <p>This controller is ready to be used!</p>
    <p>Have fun!</p>
{% endblock %}
