{% extends 'base.html.twig' %}

{% block title %}RestoResa-Homepage{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h1>Bienvenue sur Resto-Résa</h1>
    <p>Le site de réservation de restaurant en ligne</p>
        <div class ="img">
        <img class="img2" src="https://picsum.photos/200/300">
        <img class="img2" src="https://picsum.photos/200/300">
        <img class="img2" src="https://picsum.photos/200/300">
        <img class="img2" src="https://picsum.photos/200/300">
        <img class="img2" src="https://picsum.photos/200/300">
        </div>
    </div>
{% endblock %}
