{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
    <h1>Bienvenue sur RestauResa </h1>
    <p>Le site de réservation de restaurant en ligne</p>
    </div>
{% endblock %}
